body {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

form div {
  margin: 1em;
  display: inline-block;
}

.intro {
  text-align: center;
  padding-bottom: 25%;
  padding-top: 25%;
  background: linear-gradient(-45deg, #23a6d5, #23d5ab, white, white);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.intro h2 {
  text-align: center;
  margin-bottom: 5%;
}

.work {
  margin-top: 6rem;
  margin-bottom: 10rem;
  margin-right: 5rem;
  margin-left: 5rem;
}

.work h1 {
  margin-bottom: 5rem;
}

.work-container {
  display: flex;
}

.poster {
  height: 80%;
  width: 80%;
  border: black solid 4px;
  margin-bottom: 5%;
}

.about-header {
  margin-bottom: 10%;
}

.about-container {
  margin-bottom: 10%;
}

.about-img {
  object-fit: cover;
  height: 100%;
  width: 85%;
}

#work {
  text-align: center;
}

#skills {
  text-align: center;
}

#connect {
  text-align: center;
  padding-bottom: 5rem;
  padding-top: 5rem;
}

.navbar-background {
  background-color: rgba(255, 255, 255, 0.5);
}

.link {
  color: #3d5a80;
}

.link :hover {
  cursor: pointer;
}

.card-skill {
  padding: 3rem;
  border: none;
  text-align: center;
}

.card-img-top {
  width: 10vw;
  height: 10vw;
  object-fit: cover;
}

.connect-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.connect-img {
  width: 14vw;
  height: 10vw;
  position: center;
}

i {
  background-color: white;
}

@media only screen and (max-width: 600px) {
  .intro {
    padding-bottom: 75%;
    padding-top: 75%;
  }

  .about-header {
    margin-bottom: 10%;
    margin-top: 10%;
    text-align: center;
  }

  .about-img {
    display: flex;
    margin-right: auto;
    margin-left: auto;
  }

  .welcome-description {
    padding-right: 10%;
    padding-left: 10%;
  }

  .card {
    padding: 10%;
  }
}
